# TRAEFIK DYNAMIC CONFIG - BALANCEADOR 1


tls:                                            # Certificado TLS
  certificates:
    - certFile: /etc/traefik/certs/server.crt
      keyFile: /etc/traefik/certs/server.key

http:
  routers:
    redirect-to-https:
      entryPoints:                             # Redirección a https
        - "web"                                
      rule: "Host(`192.168.1.100`)"            # Regla: solo aplica si el host es la VIP
      middlewares:
        - redirect-to-https 
      service: noop@internal

    websecure:
      entryPoints:
        - "websecure"                          # Entrada HTTPS (puerto 443)
      rule: "Host(`192.168.1.100`)"            # Regla: solo aplica si el host es la VIP
      service: web-servers                     # Servicio backend
      tls: {}                                  # Activa TLS
      middlewares:
        - add-balancer-headers                 # Middleware que añade cabecera X-Balancer

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https                          # Fuerza redirección a HTTPS
        permanent: true                        # Redirección permanente

    add-balancer-headers:
      headers:
        customRequestHeaders:
          X-Balancer: "Traefik1"               # Cabecera para identificar el balanceador

  services:
    web-servers:
      loadBalancer:
        servers:                               # Lista de servidores backend
          - url: "http://192.168.1.30:8080"    # Web1
          - url: "http://192.168.1.30:8081"    # Web2
          - url: "http://192.168.1.31:8082"    # Web3
          - url: "http://192.168.1.31:8083"    # Web4
        healthCheck:
          path: /login.php                     # Ruta usada para comprobar salud de los backends
          interval: "10s"                      # Cada 10 segundos
          timeout: "3s"                        # Tiempo máximo de espera por respuesta
